<android>
<TabView androidSelectedTabHighlightColorProperty="#006968">
  <ng-template ngFor let-tab [ngForOf]="categoryList">
  <StackLayout *tabItem="{title: tab.name}">
    <article-list [category]="tab.id"></article-list>
  </StackLayout>
  </ng-template>
</TabView>
</android>

<ios>
<StackLayout>
  <ScrollView orientation="horizontal">
    <StackLayout orientation="horizontal"
    style="background-color:white;margin-bottom:1;">
        <Label *ngFor="let tab of categoryList; let i=index" [text]="tab.name"
            (tap)="onChange(i)" style="font-size:14;padding:10 10;border-bottom-width:2"
            class="{{ selectedIndex == i ? 'active' : 'inactive' }}">
        </Label>
    </StackLayout>
  </ScrollView>
  <StackLayout *ngFor="let tab of categoryList; let i=index"
  visibility="{{ selectedIndex == i ? 'visible' : 'collapsed' }}" >
    <article-list [category]="tab.id"></article-list>
  </StackLayout>
</StackLayout>
</ios>
