<ActionBar title="帝拓资讯">
  <NavigationButton text="返回" android.systemIcon="ic_menu_back"
  (tap)="goBack()">
  </NavigationButton>
</ActionBar>
<ScrollView>
<StackLayout style="padding:10;">
  <Label [text]="commodity.name" class="h2" textWrap="true"
    style="margin: 10 0;"></Label>
  <Image [src]="commodity.cover"></Image>
  <Label [text]="'积分: ' + commodity.point" style="font-size:18"></Label>
  <Label [text]="commodity.content" class="body" textWrap="true"></Label>
  <Button class="btn btn-primary" text="购买" [nsRouterLink]="['/contact']"></Button>
</StackLayout>
</ScrollView>
