<android>
<ActionBar class="action-bar" title="帝拓资讯">
<ActionItem ios.systemIcon="12" android.systemIcon="ic_menu_search"
[nsRouterLink]="['/search']"></ActionItem>
</ActionBar>
</android>

<ios>
<ActionBar class="action-bar" title="帝拓资讯">
</ActionBar>
</ios>

<GridLayout rows="*,auto">
  <StackLayout row="0" visibility="{{ visibility1 ? 'visible' : 'collapsed' }}"
    style="background-color:#eee;">
    <article-category></article-category>
  </StackLayout>
  <ScrollView row="0" visibility="{{ visibility2 ? 'visible' : 'collapsed' }}"
    style="background-color:#eee;">
    <category-list></category-list>
  </ScrollView>
  <StackLayout row="0" visibility="{{ visibility3 ? 'visible' : 'collapsed' }}"
    style="backgrond-color:#eee;">
    <commodity-category></commodity-category>
  </StackLayout>
  <ScrollView row="0" visibility="{{ visibility4 ? 'visible' : 'collapsed' }}"
    style="background-color:#eee">
    <member></member>
  </ScrollView>

  <SegmentedBar row="1" [items]="items" selectedIndex="0"
    style="border-color:white;background-repeat:no-repeat;background-size:contain;background-position:center" selectedBackgroundColor="transparent"
    [backgroundImage]="footerBg"
    ios:style="height:60"
    selectedColor="red"
    (selectedIndexChange)="onSelectedIndexChange($event)">
  </SegmentedBar>
</GridLayout>
