<StackLayout>
  <StackLayout class="member-header"
    style="margin-bottom:10;padding:25 0;background-color:#006968;">
    <Image class="img-circle" width="70" height="70"
      src="~/avatar.jpg"
      [nsRouterLink]="['/info']"></Image>
    <Label class="h3 text-center text-muted" [text]="user.first_name + '(平民)'"
      [nsRouterLink]="['/info']" style="color:white;margin-top:5;"></Label>
  </StackLayout>

<ListView [items]="shortcutList">
  <ng-template let-item="item">
      <GridLayout columns="40,*,30" [nsRouterLink]="item.url"
      class="member-item">
      <Label col="0" class="icon" [text]="item.icon | fromCharCode"></Label>
      <Label col="1" [text]="item.name"></Label>
      <Label col="2" class="icon" text="&#xf105;"></Label>
    </GridLayout>
  </ng-template>
</ListView>
</StackLayout>
