<ActionBar class="action-bar" title="设置密码">
  <NavigationButton (tap)="goBack()"
  text="Go Back" android.systemIcon="ic_menu_back"></NavigationButton>
</ActionBar>

<StackLayout style="background-color:#dfdfdf;">
  <GridLayout rows="auto,auto,auto" columns="auto,*" style="margin-top:10;padding:20;background-color:white;">
    <Label col="0" row="0" text="旧密码" style="padding:5 10;vertical-align:middle">
    </Label>
    <TextField col="1" row="0" [(ngModel)]="oldPassword" secure="true"></TextField>
    <Label col="0" row="1" text="新密码" style="padding:5 10;vertical-align:middle">
    </Label>
    <TextField col="1" row="1" [(ngModel)]="newPassword" secure="true"></TextField>
    <Label col="0" row="2" text="确认密码" style="padding:5 10;vertical-align:middle"></Label>
    <TextField col="1" row="2" [(ngModel)]="rePassword" secure="true"></TextField>
  </GridLayout>
  <button text="保 存" (tap)="reset()" class="btn btn-primary"
    style="margin:10;"></button>
</StackLayout>
