<ActionBar class="action-bar" [title]="category.name">
  <NavigationButton text="返回" android.systemIcon="ic_menu_back" (tap)="goBack()">
  </NavigationButton>
</ActionBar>

<ListView [items]="productList" class="list-group" style="separator-color:#ccc">
  <ng-template let-item="item">
    <GridLayout columns="80, *, 60" rows="*,*"
      [nsRouterLink]="['/product', item.id]" class="list-group-item">
    <Image row="0" col="0" rowspan="2" [src]="item.cover"
      class="thumb img-rounded"></Image>
    <Label row="0" col="1" [text]="item.name" style="font-size:18;"></Label>
    <Label row="2" col="1" [text]="item.desc" textWrap="true"
      style="color:rgba(0,0,0,0.54);font-size:16;"></Label>
    <Label row="0" col="2" rowspan="2" [text]="'积分:' + item.point"></Label>
    </GridLayout>
  </ng-template>
</ListView>
