<PullToRefresh (refresh)="refreshList($event)">
<ListView [items]="productList" class="list-group" style="separator-color:#ccc">
  <ng-template let-item="item">
    <GridLayout columns="80, *, 60" rows="*,*"
      [nsRouterLink]="['/product', item.id]" class="list-group-item">
    <Image row="0" col="0" rowspan="2" [src]="item.cover"
      class="thumb img-rounded"></Image>
    <Label row="0" col="1" [text]="item.name" style="font-size:16;"></Label>
    <Label row="2" col="1" [text]="item.desc" textWrap="true"
      style="color:rgba(0,0,0,0.54);font-size:14;"></Label>
    <Label row="0" col="2" rowspan="2" [text]="'积分:' + item.point"
	style="font-size:14;"></Label>
    </GridLayout>
  </ng-template>
</ListView>
</PullToRefresh>
